
<div style="clear:both"></div>

<% if(data != undefined ){ %>
    <% for(var i=0; i<data.length; i++) {%>
    <div class="col-md-1 folder-container">
	    <a href="/<%= data[i].name %>">
		    <div class="folder">
		        <div><%=data[i].name%>&nbsp;<span class="badge"><%=data[i].files%></span></div>
		        <img src="images/folder.png" width="50px" style="margin:auto;" />
		        <small><%=data[i].creator%></small>
		        <small>Downloads : <%= (data[i].downloads != null)? data[i].downloads : '0' %></small>
		    </div>
	    </a>
	    <button type="button" id="<%=data[i].name%>" class="btn btn-danger btn-xs delete-folder">Supprimer</button>
    </div>
<% }} %>
